# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\HEG\Troisieme année\Concepts avancés de persistance\Exercices\guideresto-jpa-Hakiwen97\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
